.states {
  width: 100%;
  padding: 81px 22px;
  
}

.states h1 {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 50px;
}

.states-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 80px;
  
  align-items: center;
  
  
}

.state-box {
  text-align: center;
}




.state-box h2 {
  font-size: 42px;
  font-weight: 700;
  margin-bottom: 8px;
}

.state-box p {
  font-size: 16px;
  margin-bottom: 5px;
  opacity: 0.9;
}

.state-box span {
  font-size: 14px;
  color: #c9c7c7;
}
.states{background: linear-gradient(90deg, #632ee3 0%, #9f62f2 100%);
  color: white;
  text-align: center;
}