

.description-section h3 {

  margin-bottom: 12px;


  font-size: 21px;

  
  font-weight: 600;
  
}


.about-title {
  font-size: 22px;

  font-weight: 600;


  margin-bottom: 4px;
}


.about-container {
  padding: 40px;
  
  color: black;
}



.install-btn{
 
  font-size: 17px;

   
  
  border-radius: 7px;
  
 
}






.about-header {
  display: flex;

   margin-bottom: 40px;


  gap: 41px;
  align-items: flex-start;
 
}

.about-img {
  width: 221px;

  object-fit: contain;

  height: 250px;
  
  
}

.about-right {
  flex: 2;
}


.about-company {
  color: black;

  margin-bottom: 23px;

  font-size: 20px;
  
}



.about-stats {
  display: flex;

  margin-bottom: 18px;

  gap: 30px;
  
}


.loading {
  text-align: center;

  font-size: 18px;
  margin-top: 110px;
  
}

.stat {
  display: flex;
  align-items: center;
  
}


.green {
  color: #059669;
}


.about-img{
  border-radius: 9px;

   border: 1px solid #e5e7eb;
  background: white;


  padding: 11px;
 
}

.stat{
  gap: 8px;
  font-size: 17px;
  color: #374151;
}



.orange {
  color: #f97316;
}

.purple {
  color: #7c3aed;
}

.install-btn {
  background: #10b981;
  color: white;


  border: none;
 
 
}



.ratings-section {
  margin-top: 40px;
}



.ratings-section h3 {
  font-size: 22px;

   margin-bottom: 16px;
  font-weight: 700;
 
}

.description-section {
  margin-top: 40px;
}




.description-section p {
  font-size: 16px;
  color: #424c5e;
  line-height: 1.6;
}



.install-btn[disabled] {
  background: #023122;

  
  cursor: not-allowed;
}



.toast-icon {

   height: 20px;
  width: 17px;
 
}

.install-btn{
  font-weight: 600;
}
.about-container{

  background: white;
  min-height: 100vh;
  padding: 41px;

}
.install-btn{
  padding: 10px 20px;

  margin-top: 10px;

  width: 250px;

}


.about-left {
  flex: 1;
}


.stat-icon {

   height: 27px;


  width: 20px;
 
}

@media (max-width: 576px){
  
  .about-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .about-left {
  display: flex;
  justify-content: center;
  align-items: center;
}

  .about-img{
    justify-content: center;
    align-items: center;
    margin-left: 0;

    width: 90%;
    height: auto;
  }
}


.ratings-section svg text {
  fill: #0f172a !important;
  opacity: 1 !important;
}
.ratings-section .recharts-cartesian-axis line,
.ratings-section .recharts-cartesian-axis-tick-line {
  stroke: #0f172a !important;
}
