.error-container {
  display: flex;
text-align: center;


  flex-direction: column;
 
}

.error-img {
  max-width: 400px;
  margin-bottom: 20px;
}

.error-title {
  font-size: 24px;
  font-weight: 700;
  color: #1e293b;
  margin-bottom: 10px;
}

.error-subtitle {
  color: #64748b;
  margin-bottom: 21px;
}

.error-btn {
  background: #7b3ef3;
  color: white;
  padding: 10px 20px;
 
  
}



.error-btn{
 border-radius: 6px;
  font-size: 14px;
  text-decoration: none;
  width: 200px;
}

.error-container{
   align-items: center;
  justify-content: center;
  padding: 60px 20px;
  
  min-height: 70vh;
}