.installation-container {
  padding: 38px;
  background: white;

  
}

.installation-header {

  margin-bottom: 28px;


  text-align: center;
  
}



.installation-topbar {
 justify-content: space-between;
 
   margin-top: 20px;


  
  
 
}

.sort-dropdown {
  padding: 7px 10px;

  color: black;
 background: white;
 
  
}


.installation-list {
  margin-top: 20px;
  display: flex;

   gap: 16px;
  flex-direction: column;
 
}

.installation-card {
  display: flex;
  align-items: center;

   border-radius: 8px;
 
}

.installation-img {
  width: 60px;

   margin-right: 16px;
  height: 80px;
 
 
}

.installation-info {
  flex: 1;
}

.installation-info h3 {
  margin: 0;

  color: black;
  font-size: 17px;

  font-weight: 600;
  
}

.installation-meta {
  display: flex;
   font-size: 16px;

  align-items: center;
  gap: 17px;
  margin-top: 4px;
 
  color: #374151;
}

.icon {
  width: 16px;
  height: 16px;
  margin-right: 4px;
}



.green {
  color: #10b981;
}


.installation-header p {
  color: #6b7280;
  margin-top: 5px;
}


.uninstall-btn {
  background: #10b981;
  
  border: none;

   font-size: 14px;
 
  border-radius: 6px;
  
 
  width: 300px;
  
}


.installation-img{
   border-radius: 8px;
  object-fit: cover;
}



.no-apps {
  text-align: center;

  color: #4e535f;
  margin-top: 40px;
  
}


.installation-topbar span {
  font-weight: 500;

  color: #29313d;
}


.toast-icon {
  width: 19px;
  height: 17px;
}


.uninstall-btn {
color: white;
 padding: 8px 14px;
}


.installation-card{
   background: white;
  padding: 14px 18px;
 
 
  justify-content: space-between;
}

.installation-header h1 {
  font-size: 31px;
color: black;

  font-weight: 700;
 
}



.sort-dropdown{
  width:250px;

  border-radius: 5px;


  font-size: 15px;
}

.installation-topbar {
  display: flex;
  
  align-items: center;

}


.orange {
  color: #f97316;
}

.installation-container{
  min-height: 100vh;
}

@media (max-width: 576px){
  .installation-card{
    width: 90%;
    display: flex;
    flex-direction: column;
    gap :20px;
  }

  .installation-img{
    align-items: flex-start;
  }
}