
.navyy {
  display: flex;
  align-items: center;
 
  
  
}


.logo-divv {
  display: flex;
  align-items: center;
  gap: 8px;
}


.logoo-linkss {
    display: flex;
    align-items: center;
    gap: 8px;
    text-decoration: none;
}


.logo-img {
  width: 36px;
  height: 36px;
}

.path-link {
  list-style: none;
  display: flex;
  gap: 30px;
  margin: 0;
  padding: 0;
}

.path-link li {
  font-size: 15px;
  color: #222;
  
}



.path-link .active {
  color: #7b3ef3;
  font-weight: 500;
  text-decoration: underline;
  
}


.navyy{
 background: white;
  justify-content: space-between;
  padding: 12px 40px;
}

.git-buttons a {
    background: white;
    align-items: center;
    display: flex;
     gap: 6px;
     justify-content: right;

    
    }
  
.git-buttons a {
  flex-direction: row;
  gap: 1px;
}
.git-buttons{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  margin-left: 200px;
}
.git-buttons button{
  
  
 width: 200px;
  background: linear-gradient(90deg, #7b3ef3, #a855f7);
  border: none;
 
  font-size: 14px;
  
  justify-content: center;
  align-items: center;
  height: 40px;
  display: flex;
  border-radius: 5px;
  gap: 0px;
 
font-weight: 600;
}


.gitcon{
  font-size: 16px;
  margin: 0;  
  padding: 0; 
  border: orange;
}
.git-button{
  display: flex;
  
  gap: 0px;
}

.git-button h3{
  text-align: left;
  justify-content: left;
}

