.footer {
  background-color: #021c34; 
 
  position: relative;


   padding: 30px 50px 15px;
  
}


.footer-left {
  display: flex;
  align-items: center;
 
}



.footer-logo {
  width: 38px;
  height: 38px;
}

.brand {
  font-size: 16px;


  font-weight: 600;
  color: white;
}


.footer-right {
  float: right;
  text-align: right;
}



.footer-right h4 {
  margin-bottom: 11px;
  font-size: 15px;

  font-weight: 600;
}

.social-icons {
  display: flex;
  gap: 12px;
  justify-content: flex-end;
}

.social-icons a {
  background: white;
  color: black;
  border-radius: 50%;


  display: flex;
  align-items: center;
 
 
}



.footer::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background: rgba(255, 255, 255, 0.2);
  margin: 50px auto 15px;
}


.footer-bottom {
  clear: both;
  text-align: center;
  font-size: 13px;
  color: #b0adad;
}

.footer-left{
   gap: 10px;
  float: left;
}

.social-icons a{
 justify-content: center;
  width: 28px;
  height: 28px;
  font-size: 17px;
}